.container {
	padding: 1px 8%;
}

.nav {
	display: flex;
	align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
	justify-content: space-between;
	flex-wrap: wrap;
    width: 85%;
    height: var(--nav-height);
    position: fixed;
    /* transition for hidding the navbar */
    transition: transform 0.2s;
}

/* hidding navbar when scroll down */
.nav.nav.nav--hidden{
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
}

.logo {
	width: 25%;
}


nav ul li {
	display: inline;
	list-style: none;
	margin: 10px 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	position: relative;
}

/* navigation buttons hover effect */
nav ul li a {
	--b: 0.1em; /* the thickness of the line */
	--c: white; /* the color */

	color: grey;
	padding-block: var(--b);
	background: linear-gradient(var(--c) 50%, #000 0) 0%
			calc(100% - var(--_p, 0%)) / 100% 200%,
		linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b)
			no-repeat;
	-webkit-background-clip: text, padding-box;
	background-clip: text, padding-box;
	transition: 0.1s var(--_s, 0s) linear,
		background-size 0.1s calc(0.1s - var(--_s, 0s));
}

/* navigation buttons hover effect */
nav ul li a:hover {
	--_p: 100%;
	--_s: 0.1s;
	color: white;
}


.h1_text{
    margin-top: 20%;
    font-size: 30px;
}

.h1_text h1{
    margin-top: 20px;
    font-size: 60px;
}