.nav {
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0);
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	height: 80px;
	right: 0px;
	position: fixed;
	align-content: center;
	flex-direction: row;
	z-index: 2;
}

.nav--hidden{
	background-color: rgba(0, 0, 0, 0.500);
}

.nav .logo {
	width: 30%;
    position: relative;
    left: 30%;
}

nav ul {
	margin-top: 0;
	margin-bottom: 0;
}

nav ul li {
	display: inline;
	list-style: none;
	margin: 10px 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	position: relative;
}

/* navigation buttons hover effect */
nav ul li a {
	--b: 0.1em; /* the thickness of the line */
	--c: white; /* the color */

	color: grey;
	padding-block: var(--b);
	background: linear-gradient(var(--c) 50%, #000 0) 0%
			calc(100% - var(--_p, 0%)) / 100% 200%,
		linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b)
			no-repeat;
	-webkit-background-clip: text, padding-box;
	background-clip: text, padding-box;
	transition: 0.1s var(--_s, 0s) linear,
		background-size 0.1s calc(0.1s - var(--_s, 0s));
}

/* navigation buttons hover effect */
nav ul li a:hover {
	--_p: 100%;
	--_s: 0.1s;
	color: white;
}

.navbar-expand-md .offcanvas {
	position: absolute;
}

@media screen and (max-width: 767px) {
	#offcanvasNavbar-expand-md {
		top: 100px;
		right: 0px;
		border: none;
		left: 100px;
	}
	
	.offcanvas-backdrop.show{
		background:  linear-gradient(#000000,#FB4F93);
		color: #fff!important;		
	}

	.offcanvas-body{
		color: #fff!important;
		text-decoration: none;
	}

	.navbar-nav a{
		color: #000;
		font-weight: 600;
		text-decoration: none;
	}

	.navbar-nav ul{
		margin: 10px 0px 0px 0%;
		color: transparent;
		line-height: 180%;
	}
}
