.details{
	padding: 120px 0;
    color: #ababab;
}

.details h4{
	font-family: myfont;
}

.details h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

@keyframes shake {
	25% {
		transform: rotate(calc(var(--angle) * -1));
	}

	50% {
		transform: rotate(var(--angle));
	}

	100% {
		transform: rotate(0deg);
	}
}



.display {
	display: grid;
	gap: 0.1em;
}

.HOVER {
    --width: 100%;
    --time: 0.7s;
    position: relative;
    display: flex;
    height: 300px;
    color: #dddddd;
    background: #222;
    overflow: hidden;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.HOVER h4 {
	position: relative;
	z-index: 5;
	
	transition: color var(--time);
}

.HOVER:hover h4 {
	color: #222;
}

.HOVER span {
	position: absolute;
	display: block;
	content: "";
	z-index: 0;
	width: 0;
	height: 0;
	
	border-radius: 100%;
	background: #fff;
	
	transform: translate(-50%, -50%);
	transition: width var(--time), padding-top var(--time);
}

.HOVER:hover span {
	width: calc(var(--width) * 2.25);
	padding-top: calc(var(--width) * 2.25);
}

.HOVER.FLASH:hover h4 {
	color: white;
}

.HOVER.FLASH span {
	background: #ff3b3b;
}

.animated {
	--angle: 5deg;
	animation: shake 0.3s;
}

.link{
	position: absolute;
	right: 10px;
	bottom: 10px;
	
	font-size: 1rem;
}

.cardview{
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.details .temp_card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background: #222222;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);

}

.details .temp_card:hover {
    height: 400px;
    cursor: pointer;
    border-radius: 0;
}

.details .temp_card .img-box {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #eee;
    overflow: hidden;
    transition: 0.5s;
}

.details .temp_card:hover .img-box {
    top: -100px;
    scale: 0.75;
    border-radius: 20px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.details .temp_card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details .temp_card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.details .temp_card:hover .content {
    top: 130px;
    height: 250px;
}

.details .temp_card .content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr);
}

.details .temp_card .content p {
    color: #dddddd;
}

.details .temp_card .content a {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    background: var(--clr);
    color: white;
    font-weight: 500;
    transition: 0.5s;
    opacity: 0.6;
}

.details .temp_card .content a:hover {
    opacity: 1;
    border: none;
    filter: brightness(1);
}

@media (max-width: 480px) {
    .details .temp_card {
        width: 230px;
        border-radius: 15px;
    }

    .details .temp_card .img-box {
        width: 185px;
        border-radius: 10px;
    }

    .details .temp_card .content p {
        font-size: 0.8rem;
    }

    .details .temp_card .content a {
        font-size: 0.9rem;
    }
}