.contact{
    margin-top: calc(var(--nav-height));
}

/* ---------Contact Left------------ */

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 10%;
}

.contact-left .normal-icon{
    color: #FB4F93;
    margin-right: 5%;
    font-size: 165%;
}

.social-icons{
    margin-top: 13%;
}

.social-icons a{
    text-decoration: none;
    font-size: 165%;
    margin-right: 5%;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #FB4F93;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    color: #fff;
}

.contact-right form{
    width: 100%;
}

form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

form .btn.btn2{
    padding:14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor:pointer;
}