*{
  margin: 0%;
  padding-top: 0%;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;  
}

html{
  scroll-behavior: smooth;
}

body{
  background: #000000;
  color: #fff;
}

@font-face {
	font-family: myFont;
	src: url("../public/fonts/Maragsâ-Display.otf");
}

.container {
  padding: 10px 5% 10px 5%;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 20px ;
  }
  
}

.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 0.1px solid #ffffff;
  padding: 14px 50px;
  border-radius: 5px;
  text-decoration: none;
  background-color:#000000;
  color: #fff;
  transition: background 0.3s;
}

.btn:hover{
  background:#FB4F93;
  border: 1px solid #FB4F93;
}