.details{
    padding: 120px 0;
    color: #ababab;
}

@keyframes shake {
	25% {
		transform: rotate(calc(var(--angle) * -1));
	}

	50% {
		transform: rotate(var(--angle));
	}

	100% {
		transform: rotate(0deg);
	}
}



.display {
	display: grid;
	gap: 0.1em;
}

.HOVER {
    --width: 100%;
    --time: 0.7s;
    position: relative;
    display: flex;
    height: 300px;
    color: white;
    background: #222;
    overflow: hidden;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.HOVER p {
	position: relative;
	z-index: 5;
	
	transition: color var(--time);
}

.HOVER:hover p {
	color: #222;
}

.HOVER span {
	position: absolute;
	display: block;
	content: "";
	z-index: 0;
	width: 0;
	height: 0;
	
	border-radius: 100%;
	background: #fff;
	
	transform: translate(-50%, -50%);
	transition: width var(--time), padding-top var(--time);
}

.HOVER:hover span {
	width: calc(var(--width) * 2.25);
	padding-top: calc(var(--width) * 2.25);
}

.HOVER.FLASH:hover p {
	color: white;
}

.HOVER.FLASH span {
	background: #ff3b3b;
}

.animated {
	--angle: 5deg;
	animation: shake 0.3s;
}

.link{
	position: absolute;
	right: 10px;
	bottom: 10px;
	
	font-size: 1rem;
}

InstagramEmbed{
	display: grid;
}